<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% include 'nav.html' %}

<form action="/create_event" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Create Event</h1>
			</div>

			<div class="create-event-form">
				<div class="control-group">
				<input type="text" value="" placeholder="event name" name="event-name">
				</div>

				<div class="control-group">
				<input type="text" value="" placeholder="event description" name="event-description">
				</div>

				<div class="control-group">
				<input type="text" value="" placeholder="event location" name="event-location">
				</div>

        <input type="submit" value="Submit Event" class="btn btn-primary btn-large btn-block" >
			  <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}
